# AI-model directory
/AI-model/Images
/AI-model/venv/

# AI-model draft directory
/AI-model-draft/

# backend directory
/backend/venv/

# frontend directory
/frontend/node_modules/
/frontend/build/
/frontend/.next/

/frontend/.env
/frontend/.DS_Store
/frontend/.eslintcache
/frontend/coverage/